<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.4.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div class="main min-h-screen w-full bg-gray-200 p-5">
        <a class="text-blue-700 text-xl" href="/">Go to Home</a>
        <div class="absolute top-[43%] left-1/2 -translate-x-1/2 -translate-y-1/2">
            <form action="/editNote/<%= filename %>" method="get" class="flex flex-col items-center">
                <div class="notename mt-24">
                    <label for="Note Name" class="font-medium text-[1.1vw]">Note Name</label> <br>
                    <input type="text" name="filename" class="rounded-md shadow-xl px-3 py-0.5 w-[26.5vw]" value="<%= filename %>">
                </div>
                <div class="notedetails mt-5">
                    <label for="Note Name" class="font-medium text-[1.1vw]">Note Details</label> <br>
                    <input type="text" name="filedata" class=" rounded-md shadow-xl px-3 py-0.5 w-[26.5vw]" value="<%= filedata %>">
                </div>
                <div class="update mr-[21.5vw] mt-5">
                    <button class="px-3 py-2 bg-blue-600 text-white rounded-lg hover:bg-black">Update</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
</body>
</html>
