<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.4.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div class="main min-h-screen w-full bg-gray-200 p-5">
        <a class="text-blue-700 text-xl" href="/">Go to Home</a>
        <div class="min-h-[25vh] w-[25vw] bg-gray-100 shadow-2xl rounded-lg py-2 px-3 mt-10">
            <h3 class="text-2xl"><%= data %></h3>
        </div>
    </div>
</body>
</html>
</body>
</html>
