<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>
</head>
<body>
    <div class="main min-h-screen w-full bg-gray-200 p-5">
        <a class="text-xl text-blue-700" href="/">Back to Home</a>
        <div class="card bg-white w-[30vw] p-8 rounded-lg shadow-md absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]">
            <h2 class="text-2xl font-bold text-center text-gray-900 mb-6">User Information Form</h2>
            <form action="/userCreate" method="post">
                <label for="name" class="text-md font-medium text-gray-800">Name</label>
                <input type="text" name="name" required class="w-full border mt-2 p-2 rounded-md">
                <label for="age" class="text-md font-medium text-gray-800">Age</label>
                <input type="number" name="age" required class="w-full border mt-2 p-2 rounded-md">
                <label for="email" class="text-md font-medium text-gray-800">Email</label>
                <input type="email" name="email" required class="w-full border mt-2 p-2 rounded-md">
                <button class="w-full bg-blue-600 mt-5 px-4 py-2 rounded-md text-white hover:bg-blue-800">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
